version: '2.1'

services:
  settings-tp:
    image: hyperledger/sawtooth-settings-tp:latest
    container_name: sawtooth-settings-tp
    command: settings-tp -v -C tcp://validator:4004

  intkey-tp-python:
    image: hyperledger/sawtooth-intkey-tp-python:latest
    container_name: sawtooth-intkey-tp-python
    command: intkey-tp-python -v -C tcp://validator:4004

  validator:
    image: hyperledger/sawtooth-validator:latest
    container_name: sawtooth-validator
    expose:
      - 4004
    ports:
      - "4004:4004"
    command: |
      bash -c "
        if [ ! -f /etc/sawtooth/keys/validator.priv ]; then
          sawadm keygen
        fi;
        sawtooth-validator -vv \
          --endpoint tcp://validator:8800 \
          --bind component:tcp://eth0:4004 \
          --bind network:tcp://eth0:8800 \
          --bind consensus:tcp://eth0:5050
      "

  rest-api:
    image: hyperledger/sawtooth-rest-api:latest
    container_name: sawtooth-rest-api
    ports:
      - "8008:8008"
    command: sawtooth-rest-api -v --connect tcp://validator:4004 --bind rest-api:0.0.0.0:8008

  devmode-engine:
    image: hyperledger/sawtooth-devmode-engine-rust:latest
    container_name: sawtooth-devmode-engine-rust
    command: devmode-engine-rust -v --connect tcp://validator:5050
  
  sensor-simulator:
    image: hyperledger/sawtooth-intkey-tp-python:latest
    container_name: sensor-simulator
    volumes:
      - ./src:/app
    working_dir: /app
    command: python3 sensor-simulator.py
    depends_on:
      - rest-api